@import "_nullstyle";
@import "_slick";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

$black: #131313;
$white: #ffffff;
$grey: #6f6f6f;
$red: #ff4040;

body {
  height: 100%;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: $black;
  background-color: $white;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

// ---------------HEADER---------------------------

.header {
  &__flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 100px 0px;
  }

  &__logo {
  }

  &__menu {
    margin: 0px 73px 0px 0px;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__item {
  }

  &__item + &__item {
    margin: 0px 0px 0px 10px;
  }

  &__link {
    padding: 40px 20px;
    line-height: 17px;
    text-transform: uppercase;
    color: $black;
    transition: all 0.6s;
    &:hover {
      transition: all 0.3s;
      background-color: $black;
      color: $white;
    }
    &:active {
      background-color: $red;
      color: $black;
      transition: none;
    }
  }
}
// -----------------------Slaider--------------------------------

.himo {
  &__flexbox {
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 153px 0px;
  }

  &__column {
    &_left {
      flex-grow: 1 0;
    }

    &_right {
      flex-basis: 630px;
      flex-grow: 0 0;
      max-width: 630px;
    }
  }
}

.info {
  &__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    margin: 70px 0px 5px 0px;
  }

  &__subtitle {
    font-size: 32px;
    line-height: 39px;
    color: $grey;
    margin: 0px 0px 60px 0px;
  }

  &__text {
    max-width: 420px;
    p {
      &:first-child {
        margin: 0px 0px 20px 0px;
      }
      &:last-child {
        margin: 0px 0px 80px 0px;
      }
    }
  }

  &__link {
    display: inline-block;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1.1em;
    text-transform: uppercase;
    color: $white;
    background-color: $black;
    padding: 28px 80px;
    transition: all 0.6s;
    &:hover {
      background-color: $red;
      color: $white;
      transition: all 0.3s;
    }
    &:active {
      background-color: $grey;
      color: $black;
      transition: none;
    }
  }
}

.slaider {
  &__item {
  }
}

.slaider .slick-dots {
  right: 0;
  top: 50px;
}
.slick-dots {
  position: absolute;
  top: 0;
  li + li {
    padding: 10px 0px 0px 0px;
  }
  button {
    font-size: 0;
    background-color: $black;
    width: 4px;
    height: 25px;
    border-radius: 7px;
    &:hover {
      background-color: $red;
    }
  }
}

.stats {
  &__list {
    display: flex;
    justify-content: space-between;
    margin: 20px 65px 0px 65px;
  }

  &__number {
    text-align: center;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0px 0px 13px 0px;
    &:nth-child(3) {
      line-height: 23px;
      max-width: 160px;
    }
  }

  &__text {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-transform: lowercase;
  }
}
// ---------------BIO--------------------------------

.content {
  &__flexbox {
    display: flex;
    margin: 0px 0px 120px 0px;
  }

  &__column {
    &_left {
      margin: 0px 60px 0px 0px;
    }

    &_right {
    }
  }
}

.woman {
  &__imges {
  }
}
.bio {
  &__body {
    margin: 0px 0px 47px 0px;
    max-width: 450px;
  }

  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    margin: 0px 0px 10px 0px;
  }

  &__text {
  }
}
// --------------------------TABLES----------------------

.construct {
  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    margin: 0px 0px 40px 0px;
  }

  &__flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 150px 0px;
  }

  &__column {
    &_left {
    }

    &_right {
    }
  }
}

.tables {
  &__container {
    min-width: 570px;
  }

  &__title {
    font-weight: 700;
    line-height: 17px;
    background-color: $black;
    text-transform: uppercase;
    color: $white;
  }

  &__list {
    padding: 10px 0px;
  }

  &__text-left {
    font-size: 16px;
    font-weight: 700;
  }

  &__text-right {
    font-weight: 400;
    font-size: 14px;
    display: inline-block;
  }
}
.speed {
  &__imges {
  }
}
